@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
}

.container{
  width: 90;
  margin: auto;
}


.link:hover {
  color: #ff5252;
}