@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  background: #f5f0f0;
  color: rgba(0, 0, 0, 0.7);
}

.container{
  width: 90;
  margin: auto;
}

.link:hover {
  color: #ff5252 !important;
}

.MuiBadge-badge{
  background-color: #ff5252 !important;
}

nav ul button {
  text-transform: capitalize !important;
}

nav ul button:hover .MuiTouchRipple-root::before{background: rgba(0,0,0,0.1) !important;}